@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");

body {
  font-family: "Muli", sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  /* position: relative; */
}

h2:before {
  position: absolute;
  /* content: ""; */
  width: 100%;
  left: 0;
  top: 22px;
  background: #4caf50;
  height: 1px;
}

h2 i {
  font-style: normal;
  background: #fff;
  position: relative;
  padding: 10px;
}

:focus {
  outline: none;
}

/* necessary to give position: relative to parent. */
input[type="text"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.col-1 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
}

/* necessary to give position: relative to parent. */
input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-19,
.effect-20,
.effect-21 {
  border: 1px solid #ccc;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
}

.effect-19~.focus-border:before,
.effect-19~.focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.effect-19~.focus-border:after {
  top: auto;
  bottom: 0;
}

.effect-19~.focus-border i:before,
.effect-19~.focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #4caf50;
  transition: 0.6s;
}

.effect-19~.focus-border i:after {
  left: auto;
  right: 0;
}

.effect-19:focus~.focus-border:before,
.effect-19:focus~.focus-border:after,
.has-content.effect-19~.focus-border:before,
.has-content.effect-19~.focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.effect-19:focus~.focus-border i:before,
.effect-19:focus~.focus-border i:after,
.has-content.effect-19~.focus-border i:before,
.has-content.effect-19~.focus-border i:after {
  top: -1px;
  height: 100%;
  transition: 0.6s;
}

.effect-19~label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-19:focus~label,
.has-content.effect-19~label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}

body {
  font-family: "Lato", sans-serif
}

.mySlides {
  display: none
}


html {
  scroll-behavior: smooth;
}


#result{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#container{
  display: flex;
  
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  padding: 10px 15px;
}
thead {
  background: #395870;
  color: #fff;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}

#containerResults{
  margin-block-start: 30px;
  margin-block-end: 30px;
}
.title-end #results{
  text-align: center;
}