.background-image {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-color: rgba(0, 225, 255, 0.349);
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    padding: 128px 16px;
    text-align: center;
    background: #1732aa;
    color: white;
    font-size: 30px;
    height: 100%;
}

.logo {
    height: 200px;
    width: 200px;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
}

#result{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}




.scenarios {
    display: flex;
}

.block {
    margin-block-start: 75px;
    border-color: solid wheat;
    padding: 30px;
    height: 150px;
    display: block;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}







body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}